@using System.Collections.Generic

@using NonFactors.Mvc.Grid

@model IEnumerable<ForumSystem.Web.Areas.Administration.ViewModels.Users.UserViewModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.UserName).Titled("UserName")
            .RenderedAs(model => Html.ActionLink(model.UserName, "Details", new { area = string.Empty, controller = "Users", id = model.Id }));
        columns.Add(model => model.Email).Titled("Email");
        columns.Add(model => model.Id).Titled("Roles")
            .Encoded(false)
            .Sortable(false)
            .Filterable(false)
            .RenderedAs(model => Html.Action("Roles", "Users", new { area = string.Empty, id = model.Id }));
        columns.Add(model => model.IsDeleted).Titled("Deleted?")
            .Encoded(false)
            .RenderedAs(model => model.IsDeleted ? "<span class='label label-success'>Yes</span>" : "<span class='label label-default'>No</span>");
        columns.Add(model => model.DeletedOn).Titled("DeletedOn");
        columns.Add(model => model.CreatedOn).Titled("CreatedOn");
        columns.Add(model => model.ModifiedOn).Titled("ModifiedOn");
        columns.Add(model => model.Id)
            .Encoded(false)
            .Filterable(false)
            .Sortable(false)
            .RenderedAs(model => Html.ActionLink("Profile", "Details", "Users", new { area = string.Empty, id = model.Id }, new { @class = "btn btn-primary btn-sm" }));
        columns.Add(model => model.Id)
            .Encoded(false)
            .Filterable(false)
            .Sortable(false)
            .RenderedAs(model => Html.ActionLink("Add In Role", "AddUserInRole", "Users", new { area = "Administration", id = model.Id }, new { @class = "btn btn-primary btn-sm" }));
        columns.Add(model => model.Id)
            .Encoded(false)
            .Filterable(false)
            .Sortable(false)
            .RenderedAs(model => Html.ActionLink("Remove From Role", "RemoveUserFromRole", "Users", new { area = "Administration", id = model.Id }, new { @class = "btn btn-primary btn-sm" }));
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 3;
        pager.RowsPerPage = 10;
    })
    .MultiFilterable()
    .Filterable()
    .Sortable()
    .Css("table table-responsive table-bordered table-striped")
    .Empty("No data found")
)

<script>
    $(document).ready(function () {
        $('#users-item').addClass('head-nav-selected-item');
    });
</script>