@model ForumSystem.Web.ViewModels.Home.IndexPageViewModel
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model.Sections)
{
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="@Url.Action("Details", "Sections", new { area = string.Empty, id = item.Id })">@item.Title</a>
                    </div>
                </div>
                <div class="panel-body">
                    @foreach (var category in item.Categories)
                    {
                        <p>@category.Title</p>
                        <p>@category.Description</p>
                    }
                </div>
            </div>
        </div>
    </div>
}