@model ForumSystem.Web.ViewModels.Section.SectionViewModel

@{
    ViewBag.Title = Model.Title;
}

<h4> Section: @Model.Title</h4>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @foreach (var category in Model.Categories)
            {
                <a href="@Url.Action("Details", "Categories", new { area = string.Empty, id = category.Id })">
                    <strong>@category.Title</strong>
                </a>
                <p>@category.Description</p>

                <hr />
            }
        </div>
    </div>
</div>

