@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="category-header-wrapper row">
    <div class="col-sm-8 col-xs-12">
        <h1>Category "@(ViewBag.Title)"</h1>
    </div>
</div>
<div class="row">
    @Html.Action("Index", "Sidebar", new { area = string.Empty })
    <section class="col-md-9 col-sm-12 article-wrapper">
        @RenderBody()
    </section>
</div>