@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-header-wrapper row">
    <div class="col-sm-12 col-xs-12">
        <h1>Category "@Model.Title"</h1>
        <h2 class="header-title">@Model.Description</h2>
    </div>
</div>
<div class="row">
    @Html.Partial("_SidebarPartial")
    <section class="col-md-9 col-sm-12 article-wrapper">
        @RenderBody()
    </section>
</div>