<li id="moderator-menu">
    <a href="">
        <i class="fa fa-pencil"></i>
        Moderator
        <span class="caret"></span>
    </a>
</li>
<li>
    <ul class="user-menu dropdown-menu dropdown-caret nested-menu" id="moderator-menu-items">
        <li class="divider"></li>
        <li>
            <a href="@Url.Action("All", "PostReports", new { area = "Moderator" })">Posts Reports</a>
        </li>
        <li>
            <a href="@Url.Action("All", "AnswerReports", new { area = "Moderator" })">Answers Reports</a>
        </li>
        <li>
            <a href="@Url.Action("All", "CommentReports", new { area = "Moderator" })">Comments Reports</a>
        </li>
        <li class="divider"></li>
    </ul>
</li>

<script>
    $(function () {
        $('#moderator-menu-items').hide();

        $('#moderator-menu').click(function () {
            $(this).next().find('#moderator-menu-items').slideToggle(300);
            return false;
        });
    });
</script>