<aside class="col-md-3 col-sm-12 forum-sidebar">
    <div class="category-wrapper">
        <h3 class="sidebar-title">
            Categories
            <i class="glyphicon glyphicon-collapse-down" data-toggle="collapse" data-target="#displayCategories"></i>
        </h3>

        <ul id="displayCategories" class="sidebar-nav col-md-12 col-sm-4">
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
            <li>Category Test</li>
        </ul>
    </div>
</aside>