@model int

<div class="modal fade" id="pin-post-confirm-@Model" tabindex="-1" role="dialog" aria-labelledby="pin-post-confirm-label-@Model">
    <div class="modal-dialog mofal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="pin-post-confirm-label-@Model">Pin Post</h4>
            </div>
            @using (Html.BeginForm("Pin", "Posts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <p>Are you sure you want to pin this post?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Pin Post" class="btn btn-primary btn-sm pull-right" />
                </div>
            }
        </div>
    </div>
</div>