@using ForumSystem.Web.Infrastructure.Extensions
@using Microsoft.AspNet.Identity

@model ForumSystem.Web.InputModels.AnswerLikes.AnswerLikeInputModel

@if (User.IsLoggedIn() && User.Identity.GetUserId() != Model.AnswerAuthorId)
{
    <div class="cell buttons-holder vote-holder">
        @using (Ajax.BeginForm("Like", "AnswerLikes", new { area = string.Empty, id = Model.AnswerId }, new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = $"answer-like-{Model.AnswerId}"
                                }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AnswerId)

            if (Model.IsLiked)
            {
                <button type="submit" class="like-btn thumbs-btn liked-btn">
                    <i class="fa fa-thumbs-up"></i>
                    Like
                </button>
            }
            else
            {
                <button type="submit" class="like-btn thumbs-btn">
                    <i class="fa fa-thumbs-o-up"></i>
                    Like
                </button>
            }
        }
    </div>
}

<div class="cell stats-holder">
    <div class="table-holder">
        <div class="cell">
            <span class="item-wrap votes-post">
                @if (Model.IsLiked)
                {
                    <span class="icon-holder liked">
                        <i class="fa fa-thumbs-up"></i>
                    </span>
                    <span class="cell liked">@Model.LikesCount</span>
                }
                else
                {
                    <span class="icon-holder">
                        <i class="fa fa-thumbs-o-up"></i>
                    </span>
                    <span class="cell">@Model.LikesCount</span>
                }
            </span>
        </div>
    </div>
</div>
