@using System.Collections.Generic

@model IEnumerable<ForumSystem.Web.ViewModels.Sections.SectionViewModel>

<div class="section-wrapper">
    <h3 class="sidebar-title" data-toggle="collapse" data-target="#displaySections">
        Sections
        <i class="glyphicon glyphicon-chevron-down"></i>
    </h3>
    <ul id="displaySections" class="sidebar-nav col-md-12 col-sm-4 collapse in">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Sections", new { area = string.Empty, id = item.Id })" class="nav-link">
                    @item.Title
                </a>
            </li>
        }
    </ul>
</div>