@model ForumSystem.Web.ViewModels.Posts.PostViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_PostPageLayout.cshtml";
}


<a href="@Url.Action("Create", "Posts", new { area = string.Empty, id = Model.CategoryId })" class="btn success-btn btn-sm">
    <i class="glyphicon glyphicon-plus"></i>
    <span>New Post</span>
</a>

@Html.Partial("_PostDetailPartial", Model)

@Html.Action("Answers", "Posts", new { area = string.Empty, id = Model.Id })
