@model ForumSystem.Web.ViewModels.Posts.PostViewModel

<div class="modal fade" id="unlock-post-confirm-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="unlock-post-confirm-label-@Model.Id">
    <div class="modal-dialog mofal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="unlock-post-confirm-label-@Model.Id">Unlock Post</h4>
            </div>
            @using (Html.BeginForm("Unlock", "Posts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <p>Are you sure you want to unlock this post?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Unlock Post" class="btn btn-primary btn-sm pull-right" />
                </div>
            }
        </div>
    </div>
</div>