@using System.Collections.Generic

@using NonFactors.Mvc.Grid

@model IEnumerable<ForumSystem.Web.Areas.Administration.ViewModels.Categories.CategoryViewModel>
    
@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<a href="@Url.Action("Create", "Categories", new { area = "Administration" })" class="btn btn-success btn-sm bottom-buffer top-buffer">
    <i class="fa fa-plus"></i>
    New Category
</a>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.Title).Titled("Title")
            .RenderedAs(model => Html.ActionLink(model.Title, "Details", new { area = string.Empty, controller = "Categories", Id = model.Id }));
        columns.Add(model => model.Section).Titled("Section")
            .RenderedAs(model => Html.ActionLink(model.Section, "Details", new { area = string.Empty, controller = "Sections", Id = model.SectionId }));
        columns.Add(model => model.Description).Titled("Description");
        columns.Add(model => model.ActivePostsCount).Titled("ActivePosts");
        columns.Add(model => model.DeletedPostsCount).Titled("DeletedPosts");
        columns.Add(model => model.IsDeleted).Titled("Deleted?")
            .Encoded(false)
            .RenderedAs(model => model.IsDeleted ? "<span class='label label-success'>Yes</span>" : "<span class='label label-default'>No</span>");
        columns.Add(model => model.DeletedOn).Titled("DeletedOn");
        columns.Add(model => model.CreatedOn).Titled("CreatedOn");
        columns.Add(model => model.ModifiedOn).Titled("ModifiedOn");
        columns.Add(model => model.Id)
         .Encoded(false)
         .Filterable(false)
         .Sortable(false)
         .RenderedAs(model => Html.ActionLink("Edit", "Edit", new { area = "Administration", controller = "Categories", id = model.Id }, new { @class = "btn btn-primary btn-sm" }));
        columns.Add(model => model.Id)
            .Encoded(false)
            .Filterable(false)
            .Sortable(false)
            .RenderedAs(model => Html.Action("Delete", "Categories", new { area = "Administration", id = model.Id }));
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 3;
        pager.RowsPerPage = 10;
    })
    .MultiFilterable()
    .Filterable()
    .Sortable()
    .Css("table table-responsive table-bordered table-striped")
    .Empty("No data found")
)

<script>
    $(document).ready(function() {
        $('#categories-item').addClass('head-nav-selected-item');
    });
</script>
