@model ForumSystem.Web.ViewModels.Users.UserViewModel

@{
    ViewBag.Title = "User Profile";
}

<div class="profile-container">
    @Html.Partial("_ProfileBaseInfoPartial", Model)

    @Html.Partial("_ProfileForumActivitiesPartial", Model)
</div>

@section scripts {
    <script>
        function SelectTab() {
            $('#user-posts-item').addClass('selected-item');
        }
    </script>
}