@model ForumSystem.Web.ViewModels.LastActivities.PostLastActivityViewModel

<div class="cell last-replay">
    <div class="table-holder">
        <div class=".last-replay-inner cell">
            <a href="@Url.Action("Details", "Answers", new { area = string.Empty, id = Model.AnswerId })">
                Last activity:
            </a>
            <a href="@Url.Action("Details", "Users", new { area = string.Empty, id = Model.AuthorId })" class="user-name">
                <i class="fa fa-user"></i>
                @Model.Author
            </a>
            <span class="replay-date">@Model.CreatedOn</span>
        </div>
    </div>
</div>