@model ForumSystem.Web.ViewModels.LastActivities.CategoryAllRepliesViewModel
    
<span class="item-wrap">
    <span class="icon-holder" title="Replies">
        <i class="fa fa-comments-o"></i>
    </span>
    <span class="cell">@Model.AllReplies</span>
</span>