body {
}

ul, li {
    list-style: none;
}

.dl-horizontal dt {
    white-space: normal;
}

textarea {
    -moz-resize: vertical;
    -ms-resize: vertical;
    -o-resize: vertical;
    resize: vertical;
}

textarea.form-control {
        height: 160px;
    }

        textarea.form-control.small {
            height: 100px;
        }

fieldset {
    padding: 25px 0;
}
