body {
}

ul, li {
    list-style: none;
}

.dl-horizontal dt {
    white-space: normal;
}

textarea {
    resize: vertical;
}

    textarea.form-control {
        height: 160px;
    }

fieldset {
    padding: 25px 0;
}
